* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --transition-duration: 0.3s;
  --text-color: #777;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}
section {
  padding: var(--section-padding) 0;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.special-heading {
  text-align: center;
  letter-spacing: -3px;
  font-size: 100px;
  font-weight: 800;
  color: #ebeced;
}
.special-heading + p {
  margin: -30px 0 0;
  text-align: center;
  font-size: 20px;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: relative;
  padding: 20px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  width: 60px;
}
header nav label:hover .icon span:nth-child(2) {
  width: 100%;
}
header nav .icon {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 30px;
  gap: 5px;
  cursor: pointer;
}
header nav .icon span {
  width: 100%;
  height: 2px;
  background-color: #333;
}
header nav .icon span:nth-child(2) {
  width: 60%;
  transition: width 0.3s;
}
header nav input {
  appearance: none;
}
header nav input:checked + .nav-links {
  right: 0;
  transition: 1s;
}
header nav .nav-links {
  position: absolute;
  top: 75px;
  min-width: 250px;
  height: calc(100vh - 73px);
  padding: 20px 30px;
  right: -100%;
  transition: 1s;
  background-color: var(--secondary-color);
}
header nav .nav-links span {
  display: block;
  margin: 10px 0;
  color: #67727e;
}
header nav .nav-links ul {
  margin-bottom: 20px;
}
header nav .nav-links a {
  display: block;
  padding: 8px 0;
  color: #ebeced;
}
section.hero {
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../images/landing.webp);
  background-size: cover;
}
section.hero .intro-text {
  width: 320px;
  max-width: 100%;
}
section.hero .intro-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
section.hero .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
section.features {
  background-color: var(--section-background);
}
section.features .container {
  gap: 20px;
}
section.features .feat {
  padding: 20px;
  text-align: center;
}
section.features .feat i {
  color: var(--main-color);
}
section.features .feat h3 {
  margin: 30px 0;
  font-weight: 800;
}
section.features .feat p {
  line-height: 1.8;
  color: var(--text-color);
  font-size: 17px;
}
section.services .services-content {
  gap: 30px;
  margin-top: 100px;
}
section.services .services-content .service {
  display: flex;
  margin-bottom: 40px;
}
section.services .services-content .service i {
  flex-basis: 60px;
  color: var(--main-color);
}
section.services .services-content .service .service-info {
  flex: 1;
}
section.services .services-content .service .service-info h3 {
  margin: 0 0 20px;
}
section.services .services-content .service .service-info p {
  color: var(--text-color);
  font-weight: 300;
  line-height: 1.6;
}
section.services .services-content .image {
  position: relative;
  text-align: center;
}
section.services .services-content .image::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 100px;
  height: calc(100% + 100px);
  background-color: var(--secondary-color);
  z-index: -1;
}
section.services .services-content .image img {
  width: 260px;
}
@media (max-width: 767px) {
  section.services .services-content .service {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
section.portfolio {
  background-color: var(--section-background);
}
section.portfolio .portfolio-content {
  gap: 30px;
  margin-top: 80px;
}
section.portfolio .portfolio-content .card {
  background-color: #fff;
}
section.portfolio .portfolio-content .card img {
  max-width: 100%;
}
section.portfolio .portfolio-content .card .card-info {
  padding: 20px;
}
section.portfolio .portfolio-content .card .card-info p {
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 0;
}
section.portfolio .show-more {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.portfolio .show-more a {
  padding: 10px;
  width: 150px;
  margin-top: 40px;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  font-weight: bold;
}
section.portfolio .show-more a:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}
section.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  section.about .about-content {
    flex-direction: column;
    text-align: center;
  }
  section.about .about-content .image {
    margin: 0 auto 60px auto;
  }
}
section.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
section.about .about-content .image::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -20px;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  z-index: -1;
}
section.about .about-content .image::after {
  content: "";
  position: absolute;
  top: -40px;
  right: -155px;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
}
@media (max-width: 991px) {
  section.about .about-content .image::before,
  section.about .about-content .image::after {
    display: none;
  }
}
section.about .about-content .image img {
  max-width: 100%;
}
section.about .about-content .about-info {
  flex-basis: calc(100% - 500px);
}
section.about .about-content .about-info p:first-of-type {
  margin-bottom: 50px;
  font-weight: bold;
  line-height: 2;
}
section.about .about-content .about-info hr {
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);
}
section.about .about-content .about-info p:last-of-type {
  line-height: 2;
  color: var(--text-color);
}

section.contact {
  background-color: var(--section-background);
}
section.contact .contact-info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
section.contact .contact-info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
section.contact .contact-info .link {
  display: block;
  width: fit-content;
  font-size: 35px;
  font-weight: 800;
  text-decoration: none;
  color: var(--main-color);
}
section.contact .contact-info .social {
  display: flex;
  margin-top: 20px;
}
section.contact .contact-info .social a {
  margin-left: 10px;
}
section.contact .contact-info .social a i {
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  section.contact .contact-info .label,
  section.contact .contact-info .link {
    font-size: 25px;
  }
}
footer {
  padding: 20px;
  text-align: center;
  background-color: var(--secondary-color);
}
footer p {
  color: #fff;
}
footer p .site-name {
  font-weight: bold;
  color: var(--main-color);
}
